.music {
  background: greenyellow;
  /* margin: 0 auto; */
  height: 100%;
  border: 1px solid red;
}
.page_music {
  /* margin-left: 40px; */
  /* width: max-content; */
  padding-top: 32px;
  padding-left: 32px;
  color: blue;
  font-size: 44px;
}
/* h3 {
  margin: 0;
} */
