.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 450px;
  min-height: 1000px;
  padding-left: 32px;
  /* padding-right: 16px; */
  padding-top: 32px;
  background-color: rgba(1, 17, 248, 0.698);
}
.item {
  display: block;
  font-size: 24px;
  color: rgb(255, 255, 253);
  list-style: none;
  text-decoration: none;
}
.item.active {
  color: rgb(2, 41, 79);
}
