.app-wrapper {
  display: grid;
  grid-template-areas:
    'h c'
    'n c';
  grid-template-rows: 2fr 10fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: h;
  min-width: 250pxs;
  padding-top: 16px;
  height: 100%;
  background-color: aqua;
}

.header img {
  /* width: 55px; */
}
.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  background-color: bisque;
}

.content {
  grid-area: c;
  background-color: aquamarine;
}
.content img {
  max-width: 100%;
}
