.app-wrapper {
  width: 1232px;
  margin: 0 auto;
}

.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app-wrapper-content {
  /* padding-top: 23px; */
  padding-bottom: 50px;
  background: yellow;
}
