.posts {
  margin-top: 32px;
  margin-left: 44px;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  color: azure;
}
button {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
  border: none;
  padding: 12px;
  color: rgb(5, 5, 5);
  background: rgba(53, 2, 53, 0.217);
}

.new-post {
  size: 32px;
}
