.posts {
  margin-top: 32px;
  margin-left: 44px;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  color: azure;
}
.posts button {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
  border: none;
  padding: 4px 24px;
  color: white;
  font-size: 24px;
  background: rgba(53, 33, 100, 0.768);
}

.new-post {
  size: 32px;
}
