.item {
  min-width: 300px;
  max-width: max-content;
  padding-right: 32px;
  margin-top: 26px;
  margin-left: 44px;
  margin-right: 16px;
  border-radius: 3em;
  border: 2px solid rgba(255, 166, 0, 0.737);
  padding: 16px;
  margin-bottom: 50px;
  background-color: rgba(245, 228, 201, 0.786);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 1500ms ease, box-shadow 1500ms ease, border 1500ms ease;
}

.item:hover {
  border: 1px solid whitesmoke;
  /* transform: scale(1.05); Збільшує розмір при ховері */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Додає тінь */
}

.item img {
  display: block;
  padding-top: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast; /* Для Edge */
  image-rendering: pixelated; /* Для інших браузерів */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.item:hover img {
  /* transform: rotate(15deg); Легке обертання при ховері */
  opacity: 1; /* Зменшення прозорості */
}

.avatar_container {
  /* border: 1px solid saddlebrown; */
  width: 300px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  transition: box-shadow 0.5s ease, border 1500ms ease;
}

/*.avatar_container:hover {
  border: 2px solid yellow; Зміна кольору рамки 
   transform: scale(1.05); Легке збільшення 
  box-shadow: 0px 8px 16px rgba(255, 255, 0, 0.706); Яскравіша тінь 
} 
*/

.upload_icon {
  position: absolute;
  right: 75px;
  bottom: 12px;
  background: rgb(126, 244, 246);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: transform 1500ms ease, background-color 1500ms ease,
    border 1500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload_icon:hover {
  border: 1px solid blue;
  background-color: rgb(4, 248, 252); /* Зміна фону при ховері */
  transform: scale(1.2); /* Збільшення іконки */
}

.upload_icon input {
  display: none;
}

.btn_like {
  /* display: flex; */
  position: relative;
  padding: 20px;
  min-width: 150px;
  color: white;
  font-family: arial;
  text-transform: uppercase;
  background-size: 100%;
  z-index: 1;
  background: transparent;
  transition: 1500ms;
  border: 4px;
  border-radius: 12px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #acb8da;
    z-index: -1;
    transition: 15ms;
    border-radius: 15px;
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    border-radius: 19px;
    background: linear-gradient(
      60deg,
      #fb5959,
      #f77e66,
      #74f974,
      #7ff8fc,
      #79a4fa,
      #fa7ee1,
      #82faea,
      #7bfa9b
    );
    animation: animatedgradient 5000ms ease alternate infinite;
    background-size: 300% 300%;
    z-index: -2;
  }
  &:hover {
    cursor: pointer;
    &:before {
      width: 0%;
    }
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 100% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 10% 100%;
  }
}

.like_number {
  color: rgb(238, 255, 0);
  font-size: 34px;
  font-weight: bold;
}

.message {
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-top: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*.avatar:hover {
 transform: rotate(360deg); 
  box-shadow: 0px 8px 16px rgba(255, 255, 0, 0.5); 
}
*/
