.item {
  min-width: 150px;
  max-width: max-content;
  padding-right: 32px;
  margin-top: 26px;
  margin-left: 44px;
  margin-right: 16px;
  border-radius: 3em;
  border: 2px solid rgba(255, 166, 0, 0.737);
  padding: 16px;
  margin-bottom: 50px;
}
.item img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 20px;
  /* align-self: center; */
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.btn-like button {
  display: block;

  /* display: flex; */
  margin-right: auto;
  margin-left: auto;
  /* align-items: center; */
}
.item button {
  /* margin-left: 25px; */
  display: flex;
  font-size: 24px;
  /* align-items: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid yellow;
  background-color: yellowgreen;
  border-radius: 15px;
}
