.dialogs {
  display: flex;
  height: 100%;
  background-color: rgb(131, 234, 131);
}

.dialogs_item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;

  width: 30%;
}

.dialog {
  font-size: 16px;
  font-style: italic;
}

/* .dialog.active {
  color: blue;
} */

.active {
  color: red; /* Колір активного посилання */
  font-weight: bold; /* Додатково можна зробити текст жирним */
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 70%;
  background-color: orchid;
}

.message {
  font-size: 16px;
  font-style: italic;
}
